@charset "UTF-8";
/*abstracts*/
/*
0 - 320px:      Smaller mobile phones
320 - 360px:    Medium mobile phones
360 - 480px:    Biger mobile phones
480 - 768px:    Tablet portrait
768 - 1024px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- s-phone
- m-phone
- b-phone
- tab-port
- tab-land
- large-desktop
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
/*base*/
/*
      -webkit-animation-name: zoomInDown;
      animation-name: zoomInDown;
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
*/
@keyframes animate5_1 {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(100%); } }

@keyframes animate5_2 {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(100%); } }

@keyframes animate5_3 {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(-100%); } }

@keyframes animate5_4 {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(-100%); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes leftToRight {
  0% {
    width: 0; }
  66% {
    width: 0; }
  100% {
    width: 80%; } }

@-webkit-keyframes leftToRight {
  0% {
    width: 0; }
  66% {
    width: 0; }
  100% {
    width: 80%; } }

@-webkit-keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

@keyframes zoomInDown {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style-type: none; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif; }
  html body {
    background-color: #c0bdbd23 !important; }
  html section {
    margin-top: 10rem; }
    html section:first-child {
      margin-top: 5rem; }
    @media only screen and (min-width: 75em) {
      html section {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center; } }
  html .featurette-divider {
    margin: 10rem 0; }

/*“Web typography” refers to the appearance of all the text on your website. It includes basic 
CSS text properties like what font to use and whether it should be italic or not, but typography 
is much more than that. It’s about the space between and around letters, words, and lines. It’s 
the size of different runs of text in relation to one another, and the history behind each font family.

https://www.internetingishard.com/html-and-css/web-typography/
*/
/* !!!!___ Use % rather than px for all layout-related lenghts (including pictures) ___!!!! */
h1, h2, h3, h4, h5, h6 {
  font-family: 'IM Fell English', serif;
  text-transform: uppercase;
  font-size: 2.2rem !important; }

p {
  font-size: 1.8rem !important;
  padding-bottom: 1rem;
  line-height: 3rem; }

li, a, button {
  font-size: 1.8rem !important; }

label, .box {
  font-size: 1.5rem !important; }

.form-control, .form-select {
  font-size: 1.7rem !important; }

.text-muted-red {
  color: #fa233b !important;
  text-shadow: #0D0A0B -0.1rem -0.1rem; }

.section-header {
  font-size: 3.3rem !important;
  text-transform: capitalize; }
  @media only screen and (min-width: 48em) {
    .section-header {
      font-size: 3.8rem !important; } }
  @media only screen and (min-width: 75em) {
    .section-header {
      font-size: 6rem !important; } }

.strugle-ul li {
  font-weight: 500;
  text-transform: uppercase; }

.customers-progress .progress-title h6 {
  font-size: 1.8 !important; }

.customers-progress .progress-quantity {
  font-size: 2.5rem !important;
  color: #fa233b;
  text-shadow: #0D0A0B 0.1rem 0.1rem; }

#carouselFeedback .carousel-indicators {
  color: white; }

#carouselFeedback .carousel-caption {
  color: black; }

.our-services__button {
  font-weight: bold; }
  .our-services__button:hover {
    text-transform: uppercase;
    color: #ffffff !important; }

.responsive-element {
  width: 100%;
  min-height: auto; }

.responsive-video {
  width: 100% !important;
  min-height: 50rem;
  height: auto !important; }
  @media only screen and (min-width: 64em) {
    .responsive-video {
      min-height: 30rem; } }

@media only screen and (min-width: 48em) {
  .for-tab-view {
    display: flex;
    justify-content: center; } }

@media only screen and (min-width: 48em) {
  .for-tab-view img {
    width: 70%;
    height: auto; } }

@media only screen and (min-width: 64em) {
  .for-tab-view img {
    width: 100%;
    height: auto; } }

.btn:hover {
  transition: 0.6s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  -ms-filter: brightness(1);
  filter: brightness(1); }

.bg-color-pgray {
  background-color: #c9cebd;
  transition: 0.3s;
  -webkit-box-shadow: 1px 12px 13px -4px #c9cebd;
  -moz-box-shadow: 1px 12px 13px -4px #c9cebd;
  box-shadow: 1px 12px 13px -4px #c9cebd; }
  .bg-color-pgray:hover {
    background-color: #d5d9cc !important; }

.bg-color-pgreen {
  background-color: #3e8914 !important;
  color: #ffffff !important;
  transition: 0.4s !important;
  -webkit-box-shadow: 1px 12px 13px -4px #c9cebd;
  -moz-box-shadow: 1px 12px 13px -4px #c9cebd;
  box-shadow: 1px 12px 13px -4px #c9cebd; }
  .bg-color-pgreen:hover {
    background-color: #2e650f !important; }

.bg-color-pblue {
  background-color: #3772ff !important;
  color: #ffffff !important;
  transition: 1s !important;
  -webkit-box-shadow: 1px 12px 13px -4px #c9cebd;
  -moz-box-shadow: 1px 12px 13px -4px #c9cebd;
  box-shadow: 1px 12px 13px -4px #c9cebd; }
  .bg-color-pblue:hover {
    background-color: #003dd0 !important; }

.gray-shadow-bottom {
  -webkit-box-shadow: 1px 12px 13px -4px #c9cebd;
  -moz-box-shadow: 1px 12px 13px -4px #c9cebd;
  box-shadow: 1px 12px 13px -4px #c9cebd !important; }

.box-border {
  background-image: linear-gradient(#fa233b, #fa233b), linear-gradient(#fa233b, #fa233b), linear-gradient(#fa233b, #fa233b), linear-gradient(#fa233b, #fa233b), linear-gradient(#c0bdbd23, #c0bdbd23);
  background-repeat: no-repeat;
  background-size: 0.2rem 50%, 10% 0.2rem, 0.2rem 50%, 10% 0.2rem, calc(100% - 8px) calc(100% - 8px);
  background-position: left bottom, left bottom, right top, right top, 0.5rem 0.5rem;
  height: inherit;
  width: inherit;
  -webkit-box-shadow: 1px 12px 13px -4px #c9cebd;
  -moz-box-shadow: 1px 12px 13px -4px #c9cebd;
  box-shadow: 1px 12px 13px -4px #c9cebd; }
  @media only screen and (min-width: 64em) {
    .box-border {
      background-image: none; } }

/*components*/
/*layout*/
.navbar-brand {
  margin-left: 1rem;
  margin-top: 1rem; }
  .navbar-brand img {
    width: 9rem;
    height: auto; }

.navbar-toggler {
  padding: 2.5rem 1.5rem !important;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  background-image: url("../images/burger.png");
  height: 5rem;
  width: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.navbar-nav, .dropdown-menu {
  background-color: #f6f5f5 !important; }
  .navbar-nav .nav-link, .navbar-nav .dropdown-item, .dropdown-menu .nav-link, .dropdown-menu .dropdown-item {
    color: #0D0A0B !important;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 2rem !important;
    font-weight: 600;
    transition: 0.6s; }
    @media only screen and (min-width: 64em) {
      .navbar-nav .nav-link, .navbar-nav .dropdown-item, .dropdown-menu .nav-link, .dropdown-menu .dropdown-item {
        font-size: 1.8rem !important;
        padding: 0.2rem 0.5rem !important; } }
    .navbar-nav .nav-link:hover, .navbar-nav .dropdown-item:hover, .dropdown-menu .nav-link:hover, .dropdown-menu .dropdown-item:hover {
      background-color: #fa233b !important;
      color: #ffffff !important; }

.nav-item {
  margin-top: 3rem; }
  @media only screen and (min-width: 64em) {
    .nav-item {
      margin-right: 2rem; } }
  .nav-item .dropdown-item {
    margin-top: 2rem;
    background-color: #efeded !important; }
    @media only screen and (min-width: 64em) {
      .nav-item .dropdown-item {
        margin-top: 0.8rem; } }
    .nav-item .dropdown-item:hover::before {
      content: " ";
      display: inline-block;
      margin-right: 0.7rem;
      width: 0;
      height: 0;
      border-bottom: 5px solid transparent;
      border-top: 5px solid transparent;
      border-left: 5px solid #ffffff; }

footer {
  background-color: #c9cebd;
  margin-top: 20rem;
  -webkit-box-shadow: 2px -21px 38px 15px #c9cebd;
  -moz-box-shadow: 2px -21px 38px 15px #c9cebd;
  box-shadow: 2px -21px 38px 15px #c9cebd !important; }
  footer:hover {
    -webkit-box-shadow: 2px -21px 38px 15px #c9cebd;
    -moz-box-shadow: 2px -21px 38px 15px #c9cebd;
    box-shadow: 2px -21px 38px 15px #d5d9cc !important; }
  footer .text-effect {
    color: royalblue;
    background: linear-gradient(to right, #fa233b, #fa233b 50%, #0D0A0B 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    text-decoration: none;
    font-size: 1.6rem !important; }
    footer .text-effect:hover {
      background-position: 0 100%; }
  footer .col-12 {
    margin-top: 5rem; }
  footer img {
    height: 15rem;
    width: auto; }
  footer h5 {
    margin-bottom: 1rem;
    font-weight: bold; }
  footer li {
    margin-top: 2rem; }
    @media only screen and (min-width: 48em) {
      footer li {
        margin-top: 0.2rem; } }
  footer iframe {
    width: 30rem;
    height: auto; }
    @media only screen and (min-width: 48em) {
      footer iframe {
        width: 20rem;
        height: auto; } }
    @media only screen and (min-width: 75em) {
      footer iframe {
        width: auto;
        height: 15rem; } }
  footer .copyright-text {
    font-size: 1.4rem !important; }

/*pages*/
.strugle-ul__left {
  margin-top: 3rem; }
  .strugle-ul__left li {
    margin-top: 1.5rem; }

.strugle-ul__right {
  margin-bottom: 1.5rem; }
  .strugle-ul__right li:not(:first-child) {
    margin-top: 1.5rem; }

@media only screen and (min-width: 48em) {
  .strugle-ul {
    margin-top: 3.5rem;
    margin-bottom: 2rem; }
    .strugle-ul li {
      margin-top: 1.5rem; } }

.customers-progress {
  margin-top: 1rem !important; }
  .customers-progress .progress-title:not(:first-child) {
    margin-top: 2rem; }
  .customers-progress .progress-quantity {
    padding: 0 1rem;
    border: #c9cebd solid 0.2rem; }

.small-screen__contact-button {
  margin-top: 3rem !important; }

#carouselFeedback .carousel-indicators button {
  margin: 1rem; }

#carouselFeedback .carousel-item {
  width: 100%;
  padding: 20rem 0 10rem 0; }
  @media only screen and (min-width: 22.5em) {
    #carouselFeedback .carousel-item {
      padding: 15rem 0 10rem 0; } }
  @media only screen and (min-width: 48em) {
    #carouselFeedback .carousel-item {
      padding: 10rem 0 10rem 0; } }

#carouselFeedback .carousel-caption {
  height: auto; }

.our-services {
  display: flex;
  justify-content: center;
  margin: 1rem 0 3rem 0; }
  .our-services__button {
    min-width: 20rem;
    margin-top: 1.5rem;
    padding: 1rem 0 !important;
    position: relative;
    border: 0.1rem solid #3772FF !important;
    overflow: hidden;
    background: none;
    transition: 1s; }
    @media only screen and (min-width: 22.5em) {
      .our-services__button {
        width: 25rem; } }
    @media only screen and (min-width: 48em) {
      .our-services__button {
        width: 30rem; } }
    .our-services__button:hover {
      background-color: #3772FF;
      transition: 0.7s; }
    .our-services__button::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      bottom: 2px;
      width: 50%;
      background: #368d9909; }
    .our-services__button .span5:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.12rem;
      background: linear-gradient(to right, #fa233b, #fa233b);
      animation: animate5_1 2s linear infinite; }
    .our-services__button .span5:nth-child(2) {
      position: absolute;
      top: 0;
      right: 0;
      width: 0.12rem;
      height: 100%;
      background: linear-gradient(to bottom, #fa233b, #fa233b);
      animation: animate5_2 2s linear infinite;
      animation-delay: 1s; }
    .our-services__button .span5:nth-child(3) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.12rem;
      background: linear-gradient(to left, #fa233b, #fa233b);
      animation: animate5_3 2s linear infinite; }
    .our-services__button .span5:nth-child(4) {
      position: absolute;
      top: 0;
      left: 0;
      width: 0.12rem;
      height: 100%;
      background: linear-gradient(to top, #fa233b, #fa233b);
      animation: animate5_4 2s linear infinite;
      animation-delay: 1s; }

.card:hover {
  transition: 0.6s;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  -ms-filter: brightness(1);
  filter: brightness(1); }

.bd-placeholder-img:hover {
  transition: 0.6s;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  -ms-filter: brightness(1);
  filter: brightness(1); }

.hero-image {
  background-image: url("../images/contact/contact.svg");
  /* The image used */
  height: 800px;
  /* You must set a specified height */
  background-position: center center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: fit;
  /* Resize the background image to cover the entire container */ }
