
//RESPONSIVE ELEMENT
.responsive-element {
  width: 100%;
  min-height: auto;
}

//RESPONSIVE VIDEO
.responsive-video {
  width: 100% !important;
  min-height: 50rem;
  @include respond(tab-land) {
    min-height: 30rem;
  }
  height: auto !important;
}

//TABLET VIEW IMAGES
.for-tab-view{
  @include respond(tab-port) {
    display: flex;
    justify-content: center;
    }
  img{
    @include respond(tab-port) {
      width: 70%;
      height: auto;
      }
    @include respond(tab-land) {
      width: 100%;
      height: auto;
      }  
  }
}


//BUTTONS
.btn{
  &:hover{
    color: yellow !important;
    @include scale-up(1.04, 1);
  }
}

//BACKGROUND COLORS
.bg-color-pgray {
  background-color: #c9cebd;
  transition: 0.3s;
  -webkit-box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
-moz-box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
  &:hover {
    background-color: lighten($color: #c9cebd, $amount: 5%) !important;
  }
}
.bg-color-pgreen {
  background-color: #3e8914 !important;
  color: $white !important;
  transition: 0.4s !important;
  -webkit-box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
-moz-box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
  &:hover {
    background-color: darken($color: $primary-green, $amount: 8%) !important;
  }
}
.bg-color-pblue {
  background-color: #3772ff !important;
  color: $white !important;
  transition: 1s !important;
  -webkit-box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
-moz-box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
  &:hover {
    background-color: darken($color: $primary-blue, $amount: 20%) !important;
  }
}

//SHADOW
.gray-shadow-bottom{
  -webkit-box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
-moz-box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
box-shadow: 1px 12px 13px -4px rgba(201,206,189,1) !important;
}

.green-shadow-bottom{
  -webkit-box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
  -moz-box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
  box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
  
}

//BORDER BOX
.box-border {
    background-image: linear-gradient($primary-red, $primary-red),
    linear-gradient($primary-red, $primary-red), linear-gradient($primary-red, $primary-red),
    linear-gradient($primary-red, $primary-red), linear-gradient($background-color, $background-color);
  background-repeat: no-repeat;
  background-size: 0.2rem 50%, 10% 0.2rem, 0.2rem 50%, 10% 0.2rem,
    calc(100% - 8px) calc(100% - 8px);
  background-position: left bottom, left bottom, right top, right top, 0.5rem 0.5rem;
  height: inherit;
  width: inherit;  
  @include respond(tab-land) {
    background-image: none;
  }
-webkit-box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
-moz-box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
box-shadow: 1px 12px 13px -4px rgba(201,206,189,1);
}


//backgroung
.background-light{
 // background-color: rgba(206, 9, 9, 0.041) !important;
}

//min width of the section
.width-70ch{
  min-width: 70ch !important;
}

//overflow hide 
.o-x-hide{
  overflow-x: hidden !important;
}