


//IMAGE-BANNER
.image-banner {
  height: 40vh;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  @include respond(b-phone) {
    height: 60vh;
  }
}
//RESPONSIVE ELEMENT
.responsive-element {
  width: 100%; 
  min-height: auto;
}


.hero-image {
  background-image: url("../images/contact/contact.svg"); /* The image used */
  height: 800px; /* You must set a specified height */
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: fit; /* Resize the background image to cover the entire container */
}

//BACKGROUND COLORS
.bg-color-pgray{
  background-color: #C9CEBD;
  transition: 0.3s;
  &:hover{
    background-color: lighten($color: #C9CEBD, $amount: 5%) !important;
  }
}
.bg-color-pgreen{
  background-color: #3E8914 !important;
  color: $white !important;
  transition: 0.4s !important;
  &:hover{
    background-color: darken($color: $primary-green, $amount: 8%) !important;
  }
}
.bg-color-pblue{
  background-color: #3772FF !important;
  color: $white !important;
  transition: 1s !important;
  &:hover{
    background-color: darken($color: $primary-blue, $amount: 20%) !important;
  }
}


//RESPONSIVE VIDEO
.responsive-video {
  width: 100% !important;
  min-height: 50rem;
  @include respond(tab-land) {
    min-height: 30rem;
  }
  height: auto !important;
}


//OVERLAY
.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000ec;
  opacity: 0.5;
  z-index: 3;
}
